<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				Rockpay Console
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/revenue-chart">總營收報表</a></li>
				<li><a href="/report">下遊營收報表輸出</a></li>
			</ul
		</div>
	</div>
</nav>