<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<style type="text/css">
#currencySetting table th{
	white-space: nowrap;
}
#currencySetting table td:first-child{
	white-space: nowrap;
	text-align: left;
}
#currencySetting table td,#currencySetting table th{
	text-align: center;
	vertical-align: middle;
}
#exportStep2,#exportStep3,#exportStep4,#downloader{
	display: none;
}
</style>
<body>
<header>
	<% include ../partials/header %>
</header>
<main class="container-fluid">
	<div class="row">
		<div class="col-lg-12">index</div>
	</div>
</main>
</body>
</html>